<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZJJmEP2d0JHDcjG6WCkJcAagZsrkiLNk</string>
	<key>GCM_SENDER_ID</key>
	<string>1043447585007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>flight-plus-f22f1</string>
	<key>STORAGE_BUCKET</key>
	<string>flight-plus-f22f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043447585007:ios:5da20bbf81db079c01631a</string>
	<key>DATABASE_URL</key>
	<string>https://flight-plus-f22f1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>